{% extends "base.html" %}
{% block title %}Actualizar Gato{% endblock %}
{% block content %}
    <h1>Actualizar Gato ID: {{ gato[0] }}</h1>
    <form method="POST" action="/actualizar_gato/{{ gato[0] }}">
        <p>Nombre: <input type="text" name="nombre" value="{{ gato[1] }}"></p>
        <p>Color: <input type="text" name="color" value="{{ gato[2] }}"></p>
        <p>Velocidad (km/h): <input type="number" name="velocidad" value="{{ gato[3] }}"></p>
        <input type="submit" value="Guardar Cambios">
        <a href="/">Cancelar</a>
    </form>
{% endblock %}